* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-container {
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/jack-pub-label.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}